<a href="https://colab.research.google.com/github/GoldK11/machineLearning/blob/main/colab_practice02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 구글 드라이브 연동

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

**드라이브 연동 확인**

In [4]:
!ls "/gdrive/My Drive"

백업용		 python_Algorithms	  python_machine_learning_data
Android_Project  python_machine_learning  WEP_Project

In [5]:
import pandas as pd
pd.read_csv("/gdrive/My Drive/python_machine_learning_data/sample.csv")

  Unnamed: 0 state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2